.b-mainline
  .b-mainline__logo
    = link_to (articles_path), class: 'logo' do
      %span on
      longread


  .b-mainline__sign
    - if user_signed_in?
      = link_to " #{current_user.email}  #{current_user.role}", edit_user_registration_path
      = link_to "Sign out", destroy_user_session_path, :method => :delete
    - else
      = link_to "Sign up", new_user_registration_path
      = link_to "Sign in", new_user_session_path