.b-ccard
  = render 'cards/menu', card: card
  .b-ccard__caver-pict
    = image_tag(card.caver_pict_url , size: '180x180')
  .b-ccard__content
    .b-ccard__caption
      = card.caption
    .b-ccard__lead
      = card.lead
    .b-ccard__body
      = raw card.body