.b-ccard{:style => "background-image: url(#{card.caver_pict_url})" }
  = render 'cards/menu', card: card

  .b-ccard__content
    .b-ccard__caption
      = card.caption
    .b-ccard__lead
      = card.lead
    .b-ccard__body
      = raw card.body