.b-cslider{:style => "background-image: url(#{card.caver_pict_url})" }
  = render 'cards/menu', card: card

  .b-cslider__content
    .b-cslider__caption
      %b #{ card.caption}
      = card.lead
    .b-cslider__body
      = card.body

