= render 'fields/menu', field: field
.l-field{:id => "field_id_#{field.id}"}
  .l-field_card
    .b-field.b-field_card
      .b-field_card__box
        .b-field_card__caver-pict
          = image_tag(field.caver_pict_url , size: '200x200')
          .b_field_card__caption
            = field.caption
          .b-field_card__lead
            = field.lead
        .b-field_card__body
          = field.body
