<!DOCTYPE html>
<html>
<head>
  <title>LongreadC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <%= render "shared/mainline" %>

</div>

<%= yield %>

</body>
</html>
